/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

/* 
 .App {
  text-align: center;
  background-image: url('https://images.squarespace-cdn.com/content/v1/51761425e4b0e95e599b06f4/1572035767193-DK9AZDBWC3TS2QKUQAVG/FAST+OC+METALLIC+CARTRIDGE+RELOADING+COURSE.jpg?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
} */

.App-logo {
  height: 80vw;
  width: 90vw;
  /* padding: 50px; */
  margin-top: 50px;
 margin-left: 50px;
 margin-right: 50px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}

.CreateAcct-link {
  color: red
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


h1 {
  
  font-size: 150px;
  font:bold;
  color:greenyellow;
  /* background-color: blue; */
  text-Shadow: 17px 17px 15px navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

button {
  font-size: xx-large;
  font-weight: bold;
  height: 250px;
  width: 250px;
  display: inline;
  flex-direction: row;
  margin: 15px
}

ul {
  width: fit-content;
  display: inline;
  margin: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .Pistol {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.quora.com%2FWhich-is-more-powerful-9mm-or-223&psig=AOvVaw13TLEaZsTheia2IrXuMhtV&ust=1674240222968000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKCX0ICl1PwCFQAAAAAdAAAAABAE');
  background-size: cover;
} */

a {
  font-size: xx-large;
  font-weight: bold;
  height: 250px;
  width: 250px;
  display: inline-flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border: black
}

header {
  background-color: darkcyan;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}




/* ****************This is navbar info */


.navBar {
  position: relative;
}

.navBar button {
  position: right;
  left: 20px;
  top: 20px;
  z-index: 10;
  cursor: pointer;
  margin: 100px;  
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  right: 0;
  bottom: 0;
  height: 43vh;
  width: 0;
  overflow: hidden;
  max-width: 10vw;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

/* a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
} */

.menuNav li:first-child {
  margin-top: 7rem;
}